
.GraWrapper{
    color:red;
    font-size: 10px;
}

.GraWrapper button{
    margin: 0 20px;
    padding:8px;
    font-size: 18px;
    border: red 2px solid;
    background-color: brown;
    color:white;
    font-weight: 300;
    text-transform: uppercase;

}