.PlanszaWrapper {
    display: block;
    width: 20%;
    background-color: cadetblue;
    margin: 5%;
    padding: 10px;
}

.item {
    display: flex;
    flex-direction: column;
}
 ul {
    flex-grow: 1;
}

.item li {
    list-style: none;
    margin: 10px 30px 10px 10px;
    display: flex;
   flex-direction: row;
}

.item input[type="checkbox"]{
    margin-top: 5px;
    margin-left: 20px;
    flex-grow: 1;
}